#certLightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 80px;
}

.lightboxAndClose {
    position: relative;
    min-width: 300px;
}

#certLightbox.lightboxOn{
	visibility: visible;
	opacity: 1;
}

.closeLightbox{
	position: absolute;
    top: 0px;
    right: 5px;
    font-size: 40px;
	color: black;
}

#certLightbox img:last-of-type{
    padding-bottom: 90px;
}